<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PrimerParcialDBConnection"
            connectionString="Data Source=VIKTOROV\SQLEXPRESS;Initial Catalog=PrimerParcial;Integrated Security=True" />
    </connectionStrings>
</configuration>