USE [master]
GO
/****** Object:  Database [PrimerParcial]    Script Date: 29/9/2024 23:26:25 ******/
CREATE DATABASE [PrimerParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrimerParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PrimerParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrimerParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PrimerParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrimerParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrimerParcial]
GO
/****** Object:  Table [dbo].[DEPORTE]    Script Date: 29/9/2024 23:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPORTE](
	[ID_DEPORTE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DEPORTE] PRIMARY KEY CLUSTERED 
(
	[ID_DEPORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTIDO]    Script Date: 29/9/2024 23:26:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTIDO](
	[ID_PARTIDO] [int] IDENTITY(1,1) NOT NULL,
	[ID_DEPORTE] [int] NOT NULL,
	[EQUIPO_LOCAL] [varchar](50) NOT NULL,
	[EQUIPO_VISITANTE] [varchar](50) NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[FECHA_PARTIDO] [datetime] NOT NULL,
	[MARCADOR_LOCAL] [int] NOT NULL,
	[MARCADOR_VISITANTE] [int] NOT NULL,
 CONSTRAINT [PK_PARTIDO] PRIMARY KEY CLUSTERED 
(
	[ID_PARTIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DEPORTE] ON 

INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (1, N'Futbol')
INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (2, N'Basquet')
INSERT [dbo].[DEPORTE] ([ID_DEPORTE], [DESCRIPCION]) VALUES (3, N'Tenis')
SET IDENTITY_INSERT [dbo].[DEPORTE] OFF
GO
SET IDENTITY_INSERT [dbo].[PARTIDO] ON 

INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (6, 1, N'Estudiantes', N'Gimnasia', CAST(N'2024-09-29T23:04:29.027' AS DateTime), CAST(N'2024-09-29T23:04:00.600' AS DateTime), 0, 0)
INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (7, 1, N'Boca Juniors', N'River Plate', CAST(N'2024-09-29T23:13:17.250' AS DateTime), CAST(N'2024-09-30T23:12:20.617' AS DateTime), 0, 0)
INSERT [dbo].[PARTIDO] ([ID_PARTIDO], [ID_DEPORTE], [EQUIPO_LOCAL], [EQUIPO_VISITANTE], [FECHA_REGISTRO], [FECHA_PARTIDO], [MARCADOR_LOCAL], [MARCADOR_VISITANTE]) VALUES (8, 3, N'Velez Sarsfield', N'Huracan', CAST(N'2024-09-29T23:15:58.490' AS DateTime), CAST(N'2024-09-29T23:14:41.710' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[PARTIDO] OFF
GO
ALTER TABLE [dbo].[PARTIDO]  WITH CHECK ADD  CONSTRAINT [FK_PARTIDO_DEPORTE] FOREIGN KEY([ID_DEPORTE])
REFERENCES [dbo].[DEPORTE] ([ID_DEPORTE])
GO
ALTER TABLE [dbo].[PARTIDO] CHECK CONSTRAINT [FK_PARTIDO_DEPORTE]
GO
USE [master]
GO
